<a href="https://colab.research.google.com/github/Astragey/HelloGitHub/blob/master/main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf
import statsmodels.api as sm
from patsy import dmatrices

# 新段落

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
data = pd.read_csv("data.csv")

In [ ]:
data.head()

,序号,提交答卷时间,所用时间,来源,来源详情,来自IP,1、您所在的城市,2、您的性别：,3、您的年龄,4、您已获得的学历/拟获得学历：,...,22、您一天打开几次碳普惠平台,23、您对碳普惠平台的奖励有何期待？,24、您认为您当前使用平台的趣味性如何？,25、您认为您当前使用平台的可操作性如何？,26、(奖励金额),26、(奖励类型多样性),26、(趣味性),26、(可操作性),26、(其他),总分
0,1,2024/3/16 16:14:37,51秒,微信,NaN,180.213.216.179(天津-天津),天津,2,2,4,...,NaN,2.0,NaN,NaN,1.0,2,3.0,4.0,NaN,2
1,2,2024/3/16 18:41:12,249秒,手机提交,直接访问,111.30.126.220(天津-天津),天津,1,2,3,...,NaN,3.0,NaN,NaN,1.0,2,3.0,4.0,NaN,3
2,3,2024/3/16 18:41:33,282秒,手机提交,直接访问,111.30.206.183(天津-天津),天津市,1,3,3,...,NaN,1.0,NaN,NaN,1.0,2,3.0,4.0,NaN,3
3,4,2024/3/16 18:41:59,285秒,手机提交,直接访问,111.32.87.131(天津-天津),天津,2,3,3,...,3.0,4.0,2.0,3.0,1.0,2,3.0,4.0,NaN,7
4,5,2024/3/16 18:42:26,154秒,手机提交,直接访问,111.33.209.186(天津-天津),天津,1,2,4,...,NaN,2.0,NaN,NaN,1.0,2,3.0,4.0,NaN,4

In [ ]:
data.loc[:,"来自IP":]

,来自IP,1、您所在的城市,2、您的性别：,3、您的年龄,4、您已获得的学历/拟获得学历：,5、您目前从事的职业：,6、您的家庭年收入,7、您的月薪水平（包含养老金等补贴）,8、您认为当地政府对于低碳有多重视,9、就您所知，当地政府发布过哪些低碳政策或规定，进行过哪些低碳宣传？（如提倡空调开26°C、汽车限号等）,...,22、您一天打开几次碳普惠平台,23、您对碳普惠平台的奖励有何期待？,24、您认为您当前使用平台的趣味性如何？,25、您认为您当前使用平台的可操作性如何？,26、(奖励金额),26、(奖励类型多样性),26、(趣味性),26、(可操作性),26、(其他),总分
0,180.213.216.179(天津-天津),天津,2,2,4,18,3,1,3,汽车限号,...,NaN,2.0,NaN,NaN,1.0,2,3.0,4.0,NaN,2
1,111.30.126.220(天津-天津),天津,1,2,3,10,2,2,4,无,...,NaN,3.0,NaN,NaN,1.0,2,3.0,4.0,NaN,3
2,111.30.206.183(天津-天津),天津市,1,3,3,21,3,7,4,无,...,NaN,1.0,NaN,NaN,1.0,2,3.0,4.0,NaN,3
3,111.32.87.131(天津-天津),天津,2,3,3,6,4,3,1,无,...,3.0,4.0,2.0,3.0,1.0,2,3.0,4.0,NaN,7
4,111.33.209.186(天津-天津),天津,1,2,4,4,3,5,5,无,...,NaN,2.0,NaN,NaN,1.0,2,3.0,4.0,NaN,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
914,114.245.104.60(北京-北京),北京市,2,2,4,15,4,5,1,无,...,NaN,3.0,NaN,NaN,1.0,2,3.0,4.0,NaN,0
915,47.93.53.121(北京-北京),北京,1,2,3,16,3,4,2,无,...,NaN,4.0,NaN,NaN,1.0,2,3.0,4.0,NaN,1
916,114.245.110.230(北京-北京),北京市,2,5,3,20,5,3,1,无,...,NaN,2.0,NaN,NaN,1.0,2,3.0,4.0,NaN,0
917,114.245.108.144(北京-北京),北京市,2,2,3,19,6,4,6,无,...,3.0,4.0,2.0,5.0,1.0,2,3.0,4.0,NaN,11
918,114.245.109.29(北京-北京),北京市,2,4,3,11,5,3,2,无,...,NaN,NaN,NaN,NaN,1.0,2,3.0,4.0,NaN,1

In [ ]:
data.drop(data.columns[0:6],axis=1,inplace=True)

In [ ]:
data.drop("9、就您所知，当地政府发布过哪些低碳政策或规定，进行过哪些低碳宣传？（如提倡空调开26°C、汽车限号等）",axis=1,inplace=True)

In [ ]:
data

,1、您所在的城市,2、您的性别：,3、您的年龄,4、您已获得的学历/拟获得学历：,5、您目前从事的职业：,6、您的家庭年收入,7、您的月薪水平（包含养老金等补贴）,8、您认为当地政府对于低碳有多重视,10、您在日常生活中的低碳水平—您是否尽量减少单独开车或乘坐私家车的频率,10、您是否定期关注和控制家庭能源消耗（如电力、水等）,...,22、您一天打开几次碳普惠平台,23、您对碳普惠平台的奖励有何期待？,24、您认为您当前使用平台的趣味性如何？,25、您认为您当前使用平台的可操作性如何？,26、(奖励金额),26、(奖励类型多样性),26、(趣味性),26、(可操作性),26、(其他),总分
0,天津,2,2,4,18,3,1,3,2,4,...,NaN,2.0,NaN,NaN,1.0,2,3.0,4.0,NaN,2
1,天津,1,2,3,10,2,2,4,4,4,...,NaN,3.0,NaN,NaN,1.0,2,3.0,4.0,NaN,3
2,天津市,1,3,3,21,3,7,4,3,4,...,NaN,1.0,NaN,NaN,1.0,2,3.0,4.0,NaN,3
3,天津,2,3,3,6,4,3,1,3,3,...,3.0,4.0,2.0,3.0,1.0,2,3.0,4.0,NaN,7
4,天津,1,2,4,4,3,5,5,3,5,...,NaN,2.0,NaN,NaN,1.0,2,3.0,4.0,NaN,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
914,北京市,2,2,4,15,4,5,1,3,4,...,NaN,3.0,NaN,NaN,1.0,2,3.0,4.0,NaN,0
915,北京,1,2,3,16,3,4,2,4,1,...,NaN,4.0,NaN,NaN,1.0,2,3.0,4.0,NaN,1
916,北京市,2,5,3,20,5,3,1,4,3,...,NaN,2.0,NaN,NaN,1.0,2,3.0,4.0,NaN,0
917,北京市,2,2,3,19,6,4,6,4,3,...,3.0,4.0,2.0,5.0,1.0,2,3.0,4.0,NaN,11
918,北京市,2,4,3,11,5,3,2,2,2,...,NaN,NaN,NaN,NaN,1.0,2,3.0,4.0,NaN,1

In [ ]:
data.replace("北京市","北京",inplace=True)
data.replace("天津市","天津",inplace=True)
data.replace("河北保定","保定",inplace=True)
data.replace("保定市","保定",inplace=True)

In [ ]:
place = pd.get_dummies(data['1、您所在的城市'],prefix="place")

In [ ]:
place

     place_保定  place_北京  place_天津
0           0         0         1
1           0         0         1
2           0         0         1
3           0         0         1
4           0         0         1
..        ...       ...       ...
914         0         1         0
915         0         1         0
916         0         1         0
917         0         1         0
918         0         1         0

[919 rows x 3 columns]

In [ ]:
rfm = data[['20、您最近一次使用碳普惠平台是几天前', '21、您平均一周有几天使用碳普惠平台', '22、您一天打开几次碳普惠平台']]
rfm = rfm.fillna(0)
rfm["21、您平均一周有几天使用碳普惠平台"] = rfm["21、您平均一周有几天使用碳普惠平台"]  // 3
rfm["22、您一天打开几次碳普惠平台"] = rfm["22、您一天打开几次碳普惠平台"]  // 3

rfm['rfm']= rfm.iloc[:, 0].astype(int).astype(str) + rfm.iloc[:, 1].astype(int).astype(str) + rfm.iloc[:, 2].astype(int).astype(str)

In [ ]:
rfm = rfm[['rfm']]
rfm

     rfm
0    000
1    000
2    000
3    311
4    000
..   ...
914  000
915  000
916  000
917  201
918  000

[919 rows x 1 columns]

In [ ]:
job = pd.get_dummies(data['5、您目前从事的职业：'],prefix="job")

In [ ]:
job

,job_1,job_2,job_3,job_4,job_5,job_6,job_7,job_8,job_9,job_10,...,job_12,job_13,job_14,job_15,job_16,job_18,job_19,job_20,job_21,job_22
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
914,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
915,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
916,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
917,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
918,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0